.bg-amarillo-main {
    background: #F2D300;
}

.bg-gris-nav {
    background: #353a40;
}

.text-verde-ticket {
    color: #3d9756;
}

.container-imagen {
    height: 100vh;
    background-color: black;
}

.clearfix {
    overflow: hidden;
}

.imagen {
    height: 100vh;
    background-image: url(../img/ba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.bsas-align {
    margin-right: 6rem;
}

.margin-bottom-boton {
    margin-bottom: 0rem;
}

@media (max-width:324px) {
    .margin-bottom-boton {
        margin-bottom: 0.5rem;
    }
}

@media (max-width:575.98px) {
    .bsas-align {
        margin-right: 0.5rem;
    }
}


@media (min-width: 576px) and (max-width: 991.98px) {
    .bsas-align {
        margin-right: 1rem;
    }
}

.btn-blanco-orador {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #FFFFFF33;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #FFFFFF66;
}

.btn-verde-ticket {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #28a744;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #37c868;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #2ddb90;
    --bs-btn-active-border-color: #2ddb90;
}