body {
    font-size: 16px;
}

.bg-amarillo-main {
    background: #F2D300;
}

.bg-gris {
    background: #353a40;
}

.text-verde-ticket {
    color: #3d9756;
}

#conferencia {
    height: 100vh;
    background-color: black;
}

.clearfix {
    overflow: hidden;
}

#imagen-1 {
    height: 100vh;
    background-image: url(../img/ba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.bsas-align {
    margin-right: 6rem;
}

.margin-bottom-boton {
    margin-bottom: 0rem;
}

@media (max-width:324px) {
    .margin-bottom-boton {
        margin-bottom: 0.5rem;
    }
}

@media (max-width:575.98px) {
    .bsas-align {
        margin-right: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .bsas-align {
        margin-right: 1rem;
    }
}

.btn-transparente {
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #FFFFFF33;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #FFFFFF66;
}

.btn-verde-ticket {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #28a744;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #37c868;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #2ddb90;
    --bs-btn-active-border-color: #2ddb90;
}

.container-orador {
    width: 80%;
}

.p-chico {
    font-size: 0.8rem;
}

.btn-verde-react {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #16a1b7;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #27a8c6;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #27a8c6;
    --bs-btn-active-border-color: #27a8c6;
}

#container-imagen-steve {
    background-color: #09071d;
}

#container-imagen-bill {
    background-color: #6a696e;
}

#container-imagen-ada {
    background-color: #33342f;
}

#container-imagen-ada {
    background-color: #33342f;
}

#container-imagen-3 {
    background-color: #2f60ac;
}

#imagen-3 {
    height:100%;
    background-image: url(../img/honolulu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tool {
    text-decoration: underline dotted black;
}

legend {
    font-size: 1rem;
}

#form-text {
    height: 7rem;
}

.btn-verde-enviar {
    font-size: 1.2rem;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #96c93e;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #bcd556;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #cbe168;
    --bs-btn-active-border-color: #cbe168;
}

.bg-azul {
    background: rgb(28,54,67);
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,83,114,1) 100%);
}

footer div div div a {
    color: white;
    text-decoration: none;
}

footer div div div a:hover {
    color: #FFFFFFDD;
}

footer div div div a:active {
    color: #FFFFFF66;
}

footer div div div a:active {
    color: #FFFFFF44;
}

#oradores, #lugar-fecha {
    scroll-margin-top: 5rem;
}

.texto-chico {
    font-size: 0.9rem;
}

.p-total {
    background-color: #cce5ff;
    border: #b8daff solid 0.1rem;
    border-radius: 0.3rem;
    color: #0040a5;
}

.cuadro-estudiante {
    border: #007bff solid 0.1rem;
}

.cuadro-trainee {
    border: #17a2b8 solid 0.1rem;
}

.cuadro-junior {
    border: #ffc107 solid 0.1rem;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

.porcentaje {
    font-weight: bold;
}

.texto-gris {
    color: #666;
}

.p-mas-chico {
    font-size: 0.7rem;
}